#*
!.gitignore
.vs
*.sln
ElemSum/*
!ElemSum/*.cs
MinSum/*
!MinSum/*.cs
TextSorting/*
!TextSorting/*.cs
TwoClasses/*
!TwoClasses/*.cs
FiveSubClasses/*
!FiveSubClasses/*.cs
!FiveSubClasses/Classes/